body {
  margin: 0;
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

/* Big Square */
.big-box {
  width: 250px;
  height: 250px;
  border: 4px solid black;
  background: lightblue;
}

/* Right side rectangles */
.right-group {
  position: absolute;
  left: 330px;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rect {
  width: 350px;
  height: 40px;
  border: 3px solid black;
  background: lightgreen;
}

/* Bottom small squares */
.bottom-group {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.small-box {
  width: 120px;
  height: 120px;
  border: 4px solid black;
  background: lightcoral;
}
